<div ng-click="passEvent($event)" class="section" style="min-height: 400px; overflow: visible">
    <div class="sidebar" style="padding: 5px" ng-show="num==1">
        <div class="navbar" > 
            <a href="#/!"><back-button></back-button></a>
        </div>
          <div style="padding: 5px">
            <assign-select></assign-select>
            <div class="tdclass" ng-click="shower(2)">Save</div>
          </div>
    </div>
  
  <div ng-show="num==2">
    <div class="navbar" > 
      <back-button ng-click="shower(1)"></back-button>
    </div>
    <div style="padding: 5px">
        Your assignments have been saved.
        <a href="#/!"><div class="tdclass">Okay</div></a>
    </div>
  </div>

