<div class="section">
  <div style="padding: 5px">CADATA  will import scores for the following assignments:</div>
  
  <div ng-repeat='(x, y) in classNames' class="assTable">
    <table>
      <tr><th>{{y | shorten:15}}:</th><td>{{assignments[x].name | shorten:20}}</td></tr>
    </table>
  </div>

  <div class='tdclass actionbutton' ng-click="importScores()"><b>Import scores</b></div>

</div>

<div class="section">

  <a href="#!assignments"><div class='tdclass'><rows-icon></rows-icon>Change assignments</div></a>

</div>
