<div ng-click="passEvent($event)" class="section" style="min-height: 400px; overflow: visible">
    <div ng-show="num==1">
        <div class="navbar" > 
            <a href="#/!"><back-button></back-button></a>
        </div>
          <div style="padding: 5px">
            <assign-select></assign-select>
            <save-button ng-click="shower(2)"></save-button>
          </div>
    </div>
  
  <div ng-show="num==2">
    <div class="navbar" > 
      <back-button ng-click="shower(1)"></back-button>
    </div>
    <div style="padding: 5px">
        Your assignments have been saved.
        <a href="#/!"><div class="tdclass">Okay</div></a>
    </div>
  </div>
</div>

<script>
  function showSomething(a) {
    var box = document.getElementsByClassName("sBox");
    var index = 0;
    var tokens = {};
    for (var x in a) {
      assignOptions[x] = a[x];
      var options = box[index ++];
      var html = "<a-options ng-controller='optCtrl' ng-show='opNum==" + x + "' ng-init='assOps = " + a[x] + "' id=" + x + "></a-options>";
      options.insertAdjacentHTML("afterend", html);
      tokens[x] = a[x].nextToken;
    }
    google.script.run.withSuccessHandler(saveAssigns).listAssignments(tokens);
  }
</script>

