<div ng-click="passEvent($event)" class="section" style="min-height: 400px; overflow: visible">
    <div ng-show="num==1">
        <div class="navbar" > 
            <a href="#/!"><back-button></back-button></a>
        </div>
          <div style="padding: 5px">
            <assign-select></assign-select>
            <save-button ng-click="shower(2)"></save-button>
          </div>
    </div>
  
  <div ng-show="num==2">
    <div class="navbar" > 
      <back-button ng-click="shower(1)"></back-button>
    </div>
    <div style="padding: 5px">
        Your assignments have been saved.
        <a href="#/!"><div class="tdclass">Okay</div></a>
    </div>
  </div>
</div>

<div style="display: none">
<script>
  google.script.run.withSuccessHandler(showSomething).listAssignments();
</script>
</div>
