
    <div class="navbar" > 
        <a href="#/!"><back-button></back-button></a>
      </div>
      <div class="sidebar" style="padding: 5px" ng-show="num==1">
      
      <load-roster ng-click="shower(2)"></load-roster>
      
      <div style="padding: 10px">
        <h4>Roster:</h4>
          {{roster.name}}
        <h4>Teachers:</h4>
        <div ng-repeat="x in personnel">
          <div>{{x.lastName}}</div>
        </div>
      </div>
    </div>
  
  <div class="sidebar" ng-show="num==2">
    <div class="navbar" > 
      <back-button ng-click="shower(1)"></back-button>
    </div>
    <div style="padding: 5px">
      Updating spreadsheet. This may take several moments.
      Make this message update depending on context. Also add a toggle to make the spreadsheet update automatically turning on and off a timed trigger.
      <a href="#/!"><okay-button></okay-button></a>
    </div>
  </div>
    


